<% colors = ["red", "blue", "green", "yellow", "indigo", "purple", "pink"] %>

<div class="min-h-screen flex items-center justify-center">
  <div class="w-full max-w-md shadow-md rounded-lg p-4 text-wrap">
    <div>
      <span class="inline-block w-2 h-2 bg-<%= colors.sample %>-500 rounded-full"></span>
      <span class="text-gray-600 truncate"><%= @user.username %></span>
    </div>
    <div>
      <div class="">
        <h1 class="text-lg font-semibold text-gray-900 break-words"><%= @post.title %></h1>
        <span class="text-gray-700 break-words">
          <%= @post.content %>
        </span>
      </div>
    </div>
  </div>
</div>